MComm/MW.MComm.WalletSolution/Web References/MComm.SMS.RequestApproval/requestAproval.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="processSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="internalId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAprovalAndPin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAprovalAndPinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAprovalAndPinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="processSMSSoapIn">
    <wsdl:part name="parameters" element="tns:processSMS" />
  </wsdl:message>
  <wsdl:message name="processSMSSoapOut">
    <wsdl:part name="parameters" element="tns:processSMSResponse" />
  </wsdl:message>
  <wsdl:message name="getAprovalAndPinSoapIn">
    <wsdl:part name="parameters" element="tns:getAprovalAndPin" />
  </wsdl:message>
  <wsdl:message name="getAprovalAndPinSoapOut">
    <wsdl:part name="parameters" element="tns:getAprovalAndPinResponse" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpGetIn">
    <wsdl:part name="internalId" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="receiver" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="connectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAprovalAndPinHttpGetIn">
    <wsdl:part name="transactionID" type="s:string" />
    <wsdl:part name="customerPhone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAprovalAndPinHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpPostIn">
    <wsdl:part name="internalId" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="receiver" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="connectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAprovalAndPinHttpPostIn">
    <wsdl:part name="transactionID" type="s:string" />
    <wsdl:part name="customerPhone" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAprovalAndPinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="requestAprovalSoap">
    <wsdl:operation name="processSMS">
      <wsdl:input message="tns:processSMSSoapIn" />
      <wsdl:output message="tns:processSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAprovalAndPin">
      <wsdl:input message="tns:getAprovalAndPinSoapIn" />
      <wsdl:output message="tns:getAprovalAndPinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="requestAprovalHttpGet">
    <wsdl:operation name="processSMS">
      <wsdl:input message="tns:processSMSHttpGetIn" />
      <wsdl:output message="tns:processSMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAprovalAndPin">
      <wsdl:input message="tns:getAprovalAndPinHttpGetIn" />
      <wsdl:output message="tns:getAprovalAndPinHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="requestAprovalHttpPost">
    <wsdl:operation name="processSMS">
      <wsdl:input message="tns:processSMSHttpPostIn" />
      <wsdl:output message="tns:processSMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAprovalAndPin">
      <wsdl:input message="tns:getAprovalAndPinHttpPostIn" />
      <wsdl:output message="tns:getAprovalAndPinHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="requestAprovalSoap" type="tns:requestAprovalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processSMS">
      <soap:operation soapAction="http://tempuri.org/processSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAprovalAndPin">
      <soap:operation soapAction="http://tempuri.org/getAprovalAndPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="requestAprovalSoap12" type="tns:requestAprovalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processSMS">
      <soap12:operation soapAction="http://tempuri.org/processSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAprovalAndPin">
      <soap12:operation soapAction="http://tempuri.org/getAprovalAndPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="requestAprovalHttpGet" type="tns:requestAprovalHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="processSMS">
      <http:operation location="/processSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAprovalAndPin">
      <http:operation location="/getAprovalAndPin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="requestAprovalHttpPost" type="tns:requestAprovalHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="processSMS">
      <http:operation location="/processSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAprovalAndPin">
      <http:operation location="/getAprovalAndPin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="requestAproval">
    <wsdl:port name="requestAprovalSoap" binding="tns:requestAprovalSoap">
      <soap:address location="http://216.184.113.85/satmlBypass/requestAproval.asmx" />
    </wsdl:port>
    <wsdl:port name="requestAprovalSoap12" binding="tns:requestAprovalSoap12">
      <soap12:address location="http://216.184.113.85/satmlBypass/requestAproval.asmx" />
    </wsdl:port>
    <wsdl:port name="requestAprovalHttpGet" binding="tns:requestAprovalHttpGet">
      <http:address location="http://216.184.113.85/satmlBypass/requestAproval.asmx" />
    </wsdl:port>
    <wsdl:port name="requestAprovalHttpPost" binding="tns:requestAprovalHttpPost">
      <http:address location="http://216.184.113.85/satmlBypass/requestAproval.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>