source_code/MComm/MW.MComm.SMS.WebService/App_WebReferences/skill3/SMSwebServ/metawallet/smsTranslate/SMSTranslater.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="processSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="internalId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="processSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="processSMSSoapIn">
    <wsdl:part name="parameters" element="tns:processSMS" />
  </wsdl:message>
  <wsdl:message name="processSMSSoapOut">
    <wsdl:part name="parameters" element="tns:processSMSResponse" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpGetIn">
    <wsdl:part name="internalId" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="receiver" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="connectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpPostIn">
    <wsdl:part name="internalId" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="receiver" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="connectionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="processSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SMSTranslaterSoap">
    <wsdl:operation name="processSMS">
      <wsdl:input message="tns:processSMSSoapIn" />
      <wsdl:output message="tns:processSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSTranslaterHttpGet">
    <wsdl:operation name="processSMS">
      <wsdl:input message="tns:processSMSHttpGetIn" />
      <wsdl:output message="tns:processSMSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SMSTranslaterHttpPost">
    <wsdl:operation name="processSMS">
      <wsdl:input message="tns:processSMSHttpPostIn" />
      <wsdl:output message="tns:processSMSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSTranslaterSoap" type="tns:SMSTranslaterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processSMS">
      <soap:operation soapAction="http://tempuri.org/processSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSTranslaterSoap12" type="tns:SMSTranslaterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="processSMS">
      <soap12:operation soapAction="http://tempuri.org/processSMS" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSTranslaterHttpGet" type="tns:SMSTranslaterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="processSMS">
      <http:operation location="/processSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSTranslaterHttpPost" type="tns:SMSTranslaterHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="processSMS">
      <http:operation location="/processSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSTranslater">
    <wsdl:port name="SMSTranslaterSoap" binding="tns:SMSTranslaterSoap">
      <soap:address location="http://metawallet.coxamobile.com/MW.MComm.WalletSolution.WebService/SMSTranslater.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSTranslaterSoap12" binding="tns:SMSTranslaterSoap12">
      <soap12:address location="http://metawallet.coxamobile.com/MW.MComm.WalletSolution.WebService/SMSTranslater.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
    <wsdl:port name="SMSTranslaterHttpGet" binding="tns:SMSTranslaterHttpGet">
      <http:address location="http://metawallet.coxamobile.com/MW.MComm.WalletSolution.WebService/SMSTranslater.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSTranslaterHttpPost" binding="tns:SMSTranslaterHttpPost">
      <http:address location="http://metawallet.coxamobile.com/MW.MComm.WalletSolution.WebService/SMSTranslater.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>